/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap');

/* Global Styles */
body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

/* Hero Section */
.hero-header {
  /* background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Feature Icons */
.featurs-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background: #6C757D;
  position: absolute;
  bottom: -10px;
  transform: translate(-50%);
  transform: rotate(45deg);
}

/* Product Hover Effects */
.fruite-item:hover,
.vesitable-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.fruite-img,
.vesitable-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.fruite-img img:hover,
.vesitable-img img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

/* Banner */
.banner-btn:hover {
  background: #81c408 !important;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .hero-header {
    margin-top: 97px !important;
  }
}

@media (min-width: 992px) {
  .hero-header {
    margin-top: 100px !important;
  }
}